<app-header></app-header>
<app-sidebar></app-sidebar>

<app-main-wrapper>
  <h1>Profesores</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae error aut iusto molestiae ex ipsam ratione iure ut corrupti, cupiditate fugiat nemo nihil, vel laudantium deleniti vero quia? Fuga.</p>
</app-main-wrapper>
<app-main-wrapper>
  <h1>Alumnos</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae error aut iusto molestiae ex ipsam ratione iure ut corrupti, cupiditate fugiat nemo nihil, vel laudantium deleniti vero quia? Fuga.</p>
</app-main-wrapper>
<app-main-wrapper>
  <h1>Cursos</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae error aut iusto molestiae ex ipsam ratione iure ut corrupti, cupiditate fugiat nemo nihil, vel laudantium deleniti vero quia? Fuga.</p>
</app-main-wrapper>
<app-main-wrapper>
  <h1>Carreras</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae error aut iusto molestiae ex ipsam ratione iure ut corrupti, cupiditate fugiat nemo nihil, vel laudantium deleniti vero quia? Fuga.</p>
</app-main-wrapper>